body {
    margin: 0px;
    padding: 0px;
}

.hero {
    background-color: #1f2937;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    color: #f9faf8;
    font-size: 24px;
    padding: 10px 50px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 10px;
}

.hero-main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    flex: 1;
}

.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.website-description {
    width: 500px;
}

.website-info,
a {
    font-size: 18px;
    color: #e5e7eb; 
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 12px;
    padding: 6px;
    border-radius: 4px;
    border-color: #3882F6;
}

a {
    text-decoration: none;
}

.hero-image {
    width: 450px;
    height: auto;
    margin-left: 20px;
}

.information-section {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.product-image {
    width: 150px;
    height: auto;
}

.products {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#product-one {
    flex: 0 1 200px;
}

.quote-section {
    display: flex;
    background-color: #e5e7eb;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.quote-container {
    flex-basis: 700px;
}

.quote {
    font-style: italic;
}

#quote-author {
    text-align: end;
}

.call-to-action-section {
    display: flex;
    height: 30vh;
    justify-content: center;
    align-items: center;
    gap:50px;
    background-color: #3882F6;
    color: #f9faf8;
    width: 700px;
    margin: 60px auto;
    height: 150px;
    border-radius: 8px;
}

.cta-main-text {
    font-size: 24px;
}

.call-to-action-section button {
    border: 1px solid white;
    font-size: 16px;
    padding: 2px 15px;
}

.copyright-section {
    background-color: #1f2937;
    height: 14vh;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright-section a {
    text-decoration: underline;
}